<div class="body-container">
    <div class="search-container">
        <input type="text" placeholder="Nombre de la materia" [(ngModel)]="busqueda">
        {{ busqueda }}
    </div>
    <div class="materias-container">
        @if (materias.length === 0){
            <p>No hay materias disponibles.</p>}
        @for (materia of materias; track materia.nombre){
            <p 
            [class]="materia.aprobada ? 'class-aprobada' : 'class-no-aprobada'"
            >{{ materia.nombre }} - 
                {{ materia.creditos }} créditos - 
                {{ materia.aprobada ? 'Aprobada' : 'No aprobada' }}</p>
        }
    </div>
    <div>
        <p>Créditos acumulados: {{ creditos }}</p>
        <progress [value]="creditos" [max]="120"
        [ngClass] = "{
            'low-credits': creditos < 40,
            'medium-credits': creditos >= 40 && creditos < 70,
            'high-credits': creditos >= 70
        }"></progress>
        <button (click)="sumarCreditos()">Sumar 10 créditos</button>
        <button (click)="restarCreditos()">Restar 10 créditos</button>
    </div>
</div>